(
    g: (
        nodes: [
            (
                id: Some(0),
                props: (
                    payload: (
                        label: "Start",
                        content: "# Start Here\n\nThis is your new graph. Double-click to edit this node, or use the Quick Add panel on the left to create more nodes.\n\nTry typing `/` in the edit tab to see the slash menu!\n\n",
                    ),
                    label: "node 0",
                    selected: false,
                    dragged: false,
                    hovered: false,
                    color: None,
                    location: (
                        x: -8.505952,
                        y: -14.997777,
                    ),
                ),
                display: (
                    pos: (
                        x: -8.505952,
                        y: -14.997777,
                    ),
                    label: "Start",
                    selected: false,
                    dragged: false,
                    hovered: false,
                    radius: 30.0,
                ),
                _marker: (),
            ),
        ],
        node_holes: [],
        edge_property: directed,
        edges: [],
    ),
    selected_nodes: [],
    selected_edges: [],
    dragged_node: None,
    hovered_node: None,
    bounds: (
        min: (
            x: -38.50595,
            y: -44.997776,
        ),
        max: (
            x: 21.49405,
            y: 15.002223,
        ),
    ),
)