(
    g: (
        nodes: [
            (
                id: Some(0),
                props: (
                    payload: (
                        label: "Start",
                        content: "# Start Here\n\n\nThis is your new graph. Double-click to edit this node, or use the Quick Add panel on the left to create more nodes.\n\nTry typing `/` in the edit tab to see the slash menu!\n\n\n****\n\n\n- [x] ",
                    ),
                    label: "node 0",
                    selected: false,
                    dragged: false,
                    hovered: false,
                    color: None,
                    location: (
                        x: -6.065056,
                        y: -7.4506903,
                    ),
                ),
                display: (
                    pos: (
                        x: -6.065056,
                        y: -7.4506903,
                    ),
                    label: "Start",
                    selected: false,
                    dragged: false,
                    hovered: false,
                    radius: 30.0,
                ),
                _marker: (),
            ),
        ],
        node_holes: [],
        edge_property: directed,
        edges: [],
    ),
    selected_nodes: [],
    selected_edges: [],
    dragged_node: None,
    hovered_node: None,
    bounds: (
        min: (
            x: -36.065056,
            y: -37.45069,
        ),
        max: (
            x: 23.934944,
            y: 22.549309,
        ),
    ),
)