(
    g: (
        nodes: [
            (
                id: Some(0),
                props: (
                    payload: (
                        label: "Start",
                        content: "# Start Here\n# hola que tal\n/  \nThis is your new graph. Double-click to edit this node, or use the Quick Add panel on the left to create more nodes.\n\nTry typing `/` in the edit tab to see the slash menu!\n\n- [ ] \n\n\n[\n",
                    ),
                    label: "node 0",
                    selected: true,
                    dragged: false,
                    hovered: false,
                    color: None,
                    location: (
                        x: -5.76995,
                        y: -0.12943782,
                    ),
                ),
                display: (
                    pos: (
                        x: -5.76995,
                        y: -0.12943782,
                    ),
                    label: "Start",
                    selected: true,
                    dragged: false,
                    hovered: false,
                    radius: 30.0,
                ),
                _marker: (),
            ),
        ],
        node_holes: [],
        edge_property: directed,
        edges: [],
    ),
    selected_nodes: [
        0,
    ],
    selected_edges: [],
    dragged_node: None,
    hovered_node: None,
    bounds: (
        min: (
            x: -35.76995,
            y: -30.129438,
        ),
        max: (
            x: 24.23005,
            y: 29.870562,
        ),
    ),
)